* {
    margin: 0px;
    padding: 0px;
}

a {
    color: white;
    font-style: none;
    text-decoration: none;
}

/* 头部 */
#header {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: black;
    color: white;
}

#header a:hover {
    color: #cd3333;
}

.chose {
    color: #cd3333;
}

#header div ul:nth-child(1) li {
    float: left;
    list-style: none;
    margin-left: 20px;
}

#header div ul:nth-child(2) li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

/* 内容 */
#content {
    width: 100%;
    background-color: white;
}

#logo {
    width: 100%;
    height: 166px;
    background-image: url(https://static.maoercdn.com/assets/www/images/build/soundback.86e25ebd.png);
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* 瀑布流 */

#hot {
    columns: 4;
    column-gap: 30px;
    margin: 10px auto;
}

.item {
    width: 100%;
    break-inside: avoid;
    margin-bottom: 30px;
}

.item a img {
    width: 100%;
    border-radius: 15px;
}

.item a img:hover {
    filter: gray;
    /* filter为滤镜 gray为颜色 */
    filter: grayscale(100);
    /* 将图像转换为灰度图像 */
    opacity: 0.7;
    /* 透明度 */
    transition: all 0.3s;
    /* 上边那个加了之后 移入移出都会有过渡 */
}

.item p {
    color: #555;
    margin: 2px 8px;
    padding: 8px 0;
}

/* 定义手机 */
@media screen and (max-width: 767.98px) {
    #hot {
        width: 96vw;
        columns: 2;
    }
}

/* 底部 */
#footer {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #9e9e9e;
}